<!DOCTYPE html>
<html>
<head>
	<title>Nout Found</title>
	<link href="/style.css" rel="stylesheet"/>
</head>
<body>
	<header class="main-header" role="banner">
  		<img src="/tibialogo.gif"  alt="Banner Image"/>
	</header>
	<div>
    	<h1>Page Not Found</h1><br>
    	<h1>This is not a valid URL try adding a world and a page in the URL</h1>
	</div>
</body>
</html>